@import '../../universal-styles.scss';

.intro {
    background-color: $primary-light;
    height: calc(100vh - 10vh);
    display: flex;

    .image-section {
        flex-basis: 100%;

        img {
            max-height: 100%;
        }
    }

    .text-section {
        align-self: flex-end;
        flex-basis: 100%;
        padding: 4rem 0rem;

        h2 {
            text-transform: uppercase;
            font-size: 3.5rem;
        }

        p {
            text-transform: uppercase;
            font-size: 1.5rem;
            margin: 1rem 0;
        }

        button {
            background: none;
            padding: 0.75rem 1rem;
            letter-spacing: 2px;
            border: 1px solid $primary-dark;
            cursor: pointer;
            
            &:hover {
                text-decoration: underline;

            }
        }
    }
}